body{

background:linear-gradient(135deg,#1e3c72,#2a5298);

font-family:Arial;

margin:0;

color:white;

}

.header{

text-align:center;

padding:20px;

font-size:28px;

background:rgba(0,0,0,0.4);

}

.controls{

text-align:center;

margin:20px;

}

.toggle-btn{

background:#00ff9d;

border:none;

padding:15px 25px;

font-size:18px;

border-radius:10px;

cursor:pointer;

}

.toggle-btn:hover{

background:#00cc7a;

}

.container{

display:flex;

justify-content:center;

gap:30px;

padding:30px;

}

.video{

width:640px;

border-radius:12px;

border:4px solid white;

}

.stats{

display:flex;

flex-direction:column;

gap:20px;

}

.card{

width:200px;

padding:20px;

border-radius:12px;

text-align:center;

font-size:20px;

box-shadow:0 10px 20px rgba(0,0,0,0.3);

}

.count{

background:#00c6ff;

}

.density{

background:#ff9800;

}

.alert{

background:#ff3b3b;

}

.graph-section{

width:80%;

margin:auto;

background:white;

color:black;

padding:20px;

border-radius:12px;

}