<!DOCTYPE html>
<html>

<head>
    <title>AI Crowd Monitoring Dashboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<!-- HEADER -->
<div class="header">
    <h1>AI Crowd Monitoring System</h1>
</div>

<!-- BUTTON -->
<div class="controls">
    <button onclick="toggleSystem()" class="toggle-btn">
        Start / Stop Monitoring
    </button>
</div>

<!-- MAIN CONTAINER -->
<div class="container">

    <!-- CAMERA -->
    <div class="video-section">
        <h2>Live Camera</h2>

        <video id="video" autoplay playsinline class="video"></video>
        <canvas id="canvas" style="display:none;"></canvas>
    </div>

    <!-- STATS -->
    <div class="stats">

        <div class="card count">
            <h3>People Count</h3>
            <p id="count">0</p>
        </div>

        <div class="card density">
            <h3>Density</h3>
            <p id="density">LOW</p>
        </div>

        <div class="card alert">
            <h3>Alert</h3>
            <p id="alert">SAFE</p>
        </div>

    </div>

</div>

<!-- GRAPH -->
<div class="graph-section">
    <h2>Crowd Trend</h2>
    <canvas id="crowdChart"></canvas>
</div>

<!-- JS (VERY IMPORTANT THIS LINE) -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>